<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficiário - Auxílio Emergencial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container card mt-5 mb-5">
        <h1 class="text-center mt-3 mb-4">Registros de auxílio emergencial por CPF</h1>

        {{ if .dados }}
            {{ range .dados }} 
                <div class="card mb-3">
                    <div class="card-body"> 
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>CPF:</strong> {{ .Beneficiario.CpfFormatado }}</li>
                            <li class="list-group-item"><strong>Nome:</strong> {{ .Beneficiario.Nome }}</li>
                            <li class="list-group-item"><strong>Data de Referência:</strong> {{ .MesDisponibilizacao }}</li>
                            <li class="list-group-item"><strong>Valor do Benefício:</strong> R$ {{ printf "%.2f" .Valor }}</li>
                            <li class="list-group-item"><strong>Código do Município:</strong> {{ .Municipio.CodigoIBGE }}</li>
                            <li class="list-group-item"><strong>Município:</strong> {{ .Municipio.NomeIBGE }}</li>
                            <li class="list-group-item"><strong>Região:</strong> {{ .Municipio.NomeRegiao }}</li>
                            <li class="list-group-item"><strong>Estado (UF):</strong> {{ .Municipio.Uf.Nome }} ({{ .Municipio.Uf.Sigla }})</li>
                            <li class="list-group-item"><strong>País:</strong> {{ .Municipio.Pais }}</li>
                            <li class="list-group-item"><strong>Responsável pelo Auxílio:</strong> {{ .ResponsavelAuxilioEmergencial.Nome }}</li>
                            <li class="list-group-item"><strong>Enquadramento do Auxílio:</strong> {{ .EnquadramentoAuxilioEmergencial }}</li>
                            <li class="list-group-item"><strong>Situação do Auxílio:</strong> {{ .SituacaoAuxilioEmergencial }}</li>
                            <li class="list-group-item"><strong>Número da Parcela:</strong> {{ .NumeroParcela }}</li>
                        </ul>
                    </div>
                </div>
            {{ end }}
        {{ else }}
            <div class="alert alert-warning text-center">
                Não encontramos dados para o CPF informado.
            </div>
        {{ end }}

        <div class="text-center mt-3">
            <a href="/" class="btn btn-secondary mb-3">Voltar</a>
            <a href="/form-beneficiario-auxilio" class="btn btn-primary mb-3">Nova Consulta</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
